@using System.Drawing
@model List<SportsEvents.Web.Models.Event>
<ul class="list-inline featured">
    @{var rand = new Random();}
    @foreach (var _event in Model)
    {
        <li>

            <a href="@_event.ExternalLink">
                @{
                    var source = string.Empty;
                    if (_event.Icon?.Length > 0)
                    {
                        source = ViewBag.BaseUrl + "/Images/Thumbnail/" + _event.Id;
                    }
                    else
                    {
                        var color = Color.FromArgb(rand.Next(0, 255), rand.Next(0, 255), rand.Next(0, 255));
                        source = "http://placeskull.com/50/50/" + ColorTranslator.ToHtml(color).Substring(1) + "/" + rand.Next(1, 45);
                    }}
                <img height="200" width="200" src="@source"/>
            </a>
            <a href="@_event.ExternalLink">
                <h5 class="description">
                    @if (@_event.Description.Length >= 20)
                    {
                        @_event.Description.Substring(0, 20)
                        @:...
                    }
                    else
                    {
                        @_event.Description
                    }
                </h5>
            </a>
            @*<div class="row sport">
                <a class="col-sm-12 col-lg-12">@_event.SportName</a>
            </div>

            <div class="row event-type">
                <a class="col-sm-12 col-lg-12">@_event.EventTypeName</a>
            </div>*@
        </li>
    }
</ul>