@using Microsoft.AspNet.Identity
@using SportsEvents.Web.Models
@model SportsEvents.Web.ViewModels.RegisterOrganizerViewModel

@{
    ViewBag.Title = "Manage Organizer Information";
}
<div>

    @using (Html.BeginForm("OrganizerInformation", "Account", new { name = User.Identity.GetUserName() }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <h4>Manage Organizer Information</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })

            </div>


            <div class="col-md-4">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.FirstName)

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.LastName)

            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.LineOne, new { @class = "form-control", placeholder = "Address Line One" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.LineOne)

            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.LineTwo, new { @class = "form-control", placeholder = "Address Line Two" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.LineTwo)

            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "Id", "Name"), "---Selecy Country ---", new { @class = "form-control", id = "country" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.CountryId)

            </div>
            <div id="city" class="col-md-8">
                @Html.DropDownListFor(m => m.CityId, new SelectList(new List<City>(), "Id", "Name"), "---Selecy City ---", new { @class = "form-control", disabled = "disabled", })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.CityId)

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control", placeholder = "Organization Name*" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.OrganizationName)

            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control", placeholder = "Organization Website" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.Link)

            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(m => m.OrganizationDecription, new { @class = "form-control", placeholder = "Organaization Description" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.OrganizationDecription)

            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.OrganaiztionLogo, new { @class = "form-control", type = "file", placeholder = "First Name", accept = "Image/*" })

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.OrganaiztionLogo)

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", placeholder = "Contact Name" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.ContactName)

            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ContactLineOne, new {@class = "form-control", placeholder = "Address Line Two"})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.ContactLineOne)

            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ContactLineTwo, new {@class = "form-control", placeholder = "Address Line Two"})

            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.ContactLineTwo)

            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.ContactCountryId, new SelectList(Model.Countries, "Id", "Name", "---Selecy Country ---"), new {@class = "form-control", id = "contactCountry"})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.ContactCountryId)

            </div>
            <div id="contactcity" class="col-md-8">
                @Html.DropDownListFor(m => m.ContactCityId, new SelectList(new List<City>(), "Id", "Name", "---Selecy City ---"), new {@class = "form-control", disabled = "disabled"})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.ContactCountryId)

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/reg")
}